@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agendamientos de lugares y servicios</h1>
    <p>
         <p>
            ¡Descubre la libertad de gestionar tu tiempo y disfrutar de servicios de calidad con nuestro Aplicativo de Agendamiento Dinámico!
             <br>
            ¿Quieres reservar un servicio en tu lugar favorito de manera rápida y sencilla? ¡Lo hacemos posible!
        <br>
            🌟 Características Destacadas:
        <br>
        📆 Agendamiento Rápido: Reserva tus servicios con solo unos clics.  <br>
        🌐 Diversidad de Lugares: Explora una amplia variedad de lugares y servicios disponibles.  <br>
        📲 Acceso Móvil: Gestiona tus reservas desde cualquier lugar, en cualquier momento.  <br>
        🤩 Experiencia Personalizada: Encuentra ofertas y promociones exclusivas para ti.  <br>
        🧳 Viajes y Turismo: Descubre actividades y servicios locales, perfectos para turistas y residentes por igual.  <br>
        👍 Ventajas para Ti:  <br>  <br>
        <br>
        <br>   🕒 Ahorra Tiempo: Evita esperas innecesarias con nuestro sistema eficiente.
        <br>  💰 Ofertas Exclusivas: Accede a promociones especiales y descuentos solo disponibles a través de nuestra aplicación.
        <br> 📍 Encuentra lo que Necesitas: Desde salones de belleza hasta lugares de entretenimiento, ¡lo tenemos todo!
        <br>  🚀 ¿Cómo Funciona?

        <br> <br>   Descarga la Aplicación: Disponible para iOS y Android, ¡descárgala ahora!
        <br>   Regístrate: Crea tu cuenta para acceder a todas las funciones.
        <br> Explora y Reserva: Navega por los servicios y lugares, elige lo que necesitas y reserva tu cita.
        <br> Recibe Confirmación: Obtén detalles de tu reserva y cualquier información adicional directamente en la aplicación.
        <br>   ¡Transforma la manera en que disfrutas de servicios y lugares! Descarga nuestra aplicación hoy y descubre la comodidad del agendamiento dinámico. ¡Tu tiempo, tus elecciones! 🌈✨
        </p>
    </p>
</div>
